

#sidebar2, #sidebar{
    border: 1px solid black;
    border-radius: 5px;
    width:200px;
    margin: 
}

#sidebar2 .nav-link{
    display:block;
    margin: 0 5px 10px;
}

a {
    text-decoration: none;
    color: grey;
}

.active {
    color: red;
}

